﻿{% extends "with-sidebar.html" %}

{% block title %} - Archives{% endblock title %}

{% block page_breadcrumbs %}
<li>Archives</li>
{% endblock page_breadcrumbs %}

{% block content %}
    <h2>Archives</h2>
    <dl>
        {% for article in dates %}
            <dt>{{ article.locale_date }}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
    </dl>
    <div class="clearfix"></div>
{% endblock content %}
