<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="{{ AUTHOR }}">

        <title>{{ SITENAME }}{% block title %}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{% endif %}{% endblock title %}</title>

        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <!-- CSS -->
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
        {% if THEME_COLOR %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/colors/{{ THEME_COLOR }}.css" id="colors">
        {% endif %}
        <!-- Code highlight color scheme -->
        {% if COLOR_SCHEME_CSS %}
            <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
        {% endif %}
    {% endblock head %}

    </head>
    <body>
        <header id="header">
            <nav id="navigation" class="menu">
                <a href="{{ SITEURL }}/">Home</a>

                {% for title, link in MENUITEMS %}
                    <a href="{{ link }}">{{ title }}</a>
                {% endfor %}

                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    {% endfor %}
                {% endif %}
            </nav>
            <div id="logo">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                {% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %}<p>{{ SITESUBTITLE }}</p>{% endif %}
            </div>
        </header>
        <nav id="breadcrumbs">
        {% if SOCIAL %}
            <span class="social-icons">
            {% for name,link in SOCIAL %}
                <a href="{{ link }}" class="tooltip top" title="{{ name }}" aria-label="{{ name }}">
                    <i class="fa fa-{{ name|lower }}" aria-hidden="true"></i>
                </a>
            {% endfor %}
                <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" class="tooltip top" title="RSS" aria-label="RSS"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </span>
        {% endif %}
        </nav>

        <div id="main-body">
            {% block content_placeholder %}{% endblock content_placeholder %}
        </div>
        <footer>
            Powered by <a href="http://getpelican.com">Pelican</a>
        </footer>

    <!-- Javascripts -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
    {% include 'disqus_script.html' %}
    </body>
</html>
