﻿{% extends "with-sidebar.html" %}

{% block title %} - Categories{% endblock title %}

{% block page_breadcrumbs %}
<li>Categories</li>
{% endblock page_breadcrumbs %}

{% block content %}
    <h3 class="headline">Categories</h3>

    <ul>
    {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
    <div class="clearfix"></div>
{% endblock content %}
