﻿{% extends "with-sidebar.html" %}

{% block title %}- {{ page.title }}{% endblock title %}

{% block content %}
    <h2><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></h2>
    {% if page.subtitle %} <span>{{ page.subtitle }}</span> {% endif %}
    {{ page.content }}
    <div class="clearfix"></div>
{% endblock content %}
