﻿{% extends "with-sidebar.html" %}

{% block title %} - Archives for {{ period | reverse | join (' ') }}{% endblock title %}

{% block page_breadcrumbs %}
<li>Archives for {{ period | reverse | join (' ') }}</li>
{% endblock page_breadcrumbs %}

{% block content %}
    <h2>Archives for {{ period | reverse | join (' ') }}</h2>

    <dl>
        {% for article in dates %}
            <dt>{{ article.locale_date }}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
        <hr>
    </dl>
    <div class="clearfix"></div>
{% endblock content %}
