﻿{% extends "with-sidebar.html" %}

{% block title %} - Tags{% endblock title %}

{% block page_breadcrumbs %}
<li>Tags</li>
{% endblock page_breadcrumbs %}

{% block content %}
    <h2>Tags</h2>

    {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
    <div class="clearfix"></div>
{% endblock content %}
