{% extends "base.html" %}

{% block content_placeholder %}
    <aside>
        {% if 'about' in SIDEBAR_DISPLAY and SIDEBAR_ABOUT %}
        <!-- About  -->
        <div class="widget" id="about">
            <img src="{{ SITEURL }}/theme/images/avatar_small.png" alt="avatar"/>
            {{ SIDEBAR_ABOUT }}
        </div>
        {% endif %}

        {% if 'categories' in SIDEBAR_DISPLAY %}
        <!-- Categories -->
        <div class="widget", id="categories">
            <h3>Categories</h3><div class="clearfix"></div>
            {% for cat, null in categories %}
            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
            {% endfor %}
        </div>
        {% endif %}

        {% if 'tags' in SIDEBAR_DISPLAY %}
        <div class="widget, tags">
            {%- for tag, articles in tags|sort %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <span class="clearfix"></span>
    </aside>

    {% block content %}{% endblock content %}
{% endblock content_placeholder %}
