/* =================================================================== */
/* Red #c62020
====================================================================== */

a, a:visited,
#not-found i,
.comment-by span.reply a:hover,
.comment-by span.reply a:hover i,
.categories a:hover,
.testimonials-author,
.happy-clients-author,
.dropcap,
.meta ul li a:hover,
.list-1 li:before,
.list-2 li:before,
.list-3 li:before,
.list-4 li:before { color: #c62020; }

#current,
.menu ul li a:hover,
.menu ul > li:hover > a,
.flickr-widget-blog a:hover { border-color: #c62020; }
.menu ul ul { border-top-color: #c62020; }
.meta-list ul li.title a { font-weight: bold; color: #c62020; }

.tp-leftarrow:hover,
.tp-rightarrow:hover,
.flexslider .flex-next:hover,
.flexslider .flex-prev:hover,
.featured-box:hover > .circle,
.featured-box:hover > .circle span,
.featured-box:hover > .circle-2,
.featured-box:hover > .circle-3,
.portfolio-item:hover > figure > a .item-description,
.sb-navigation-left:hover,
.sb-navigation-right:hover,
.newsletter-btn,
.search-btn { background-color: #c62020; }

#filters a:hover, .selected { background-color: #c62020 !important; }

.premium .plan-price,
.premium .plan-features a.button:hover { background-color: #b41c1c; }
.premium.plan h3,
.premium .plan-features a.button { background-color: #c62020; }

.featured-box:hover > .circle-2,
.featured-box:hover > .circle-3 { box-shadow: 0 0 0 8px rgba(198, 32, 32, 0.3); }

#current:after,
.pagination .current,
.pagination a:hover,
.tags a:hover,
.menu a:hover,
.button.gray:hover,
.button.light:hover,
.button.color,
input[type="button"],
input[type="submit"],
input[type="button"]:focus,
input[type="submit"]:focus,
.tabs-nav li.active a,
.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active,
.trigger.active a,
.trigger.active a:hover,
.skill-bar-value,
.highlight.color,
.notice-box:hover { background: #c62020; }
